<% if bank_transfer_payment = @order.payments.from_bank_transfer.first %>
  <% unless bank_transfer_payment.details_submitted? %>
    <br>
    <%= link_to Spree.t(:add_details), "javascript:void(0);", class: 'button add_bt_details' %>
  <% end %>
  <%= form_for bank_transfer_payment, html: { class: "bt_payment_form", style: "#{bank_transfer_payment.details_submitted? ? '' : 'display:none;'}" } do |f| %>
    <div class="form-group">
      <%= f.label Spree.t(:deposited_on) %>
      <%= f.text_field :deposited_on, disabled: bank_transfer_payment.details_submitted?, class: 'required_field form-control', 'field-name' => 'Deposited on' %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label Spree.t(:bank_name) %>
      <%= f.select :bank_name, options_for_select(Spree::Bank.pluck(:name)), disabled: bank_transfer_payment.details_submitted?, class: 'required_field form-control', 'field-name' => 'Bank name', class: 'form-control' %>
    </div>
    <br>
    <div class="form-group">
      <%= f.label Spree.t(:receipt) %>
      <%= f.field_field :receipt, disabled: bank_transfer_payment.details_submitted?, class: 'required_field form-control', 'field-name' => 'Receipt' %>
    </div>
    <br>
    <div class="form-group">
      <% unless bank_transfer_payment.details_submitted? %>
        <%= f.submit "Submit", confirm: Spree.t(:confirm_details_submit), class: "btn btn-success btn-block" %>
      <% end %>
    </div>
  <% end %>
<% end %>
