<h4 class="text-center">วิธีการชำระเงินโดยวิธี "โอนเงินผ่านธนาคาร"</h4>
<strong>ขั้นตอนการแจ้งชำระเงิน:</strong>
<ol>
  <li>ชำระเงินเต็มจำนวนตามบัญชีธนาคารข้างล่าง
    <% if (banks = Spree::Bank.active).any? %>
      <div style="padding:20px 0">
      <table class="table">
        <tr class="table-active">
          <th><%= Spree.t(:bank_name) %></th>
          <th><%= Spree.t(:account_no) %></th>
          <th><%= Spree.t(:additional_details) %></th>
        </tr>
        <% banks.each do |bank| %>
          <tr>
            <td><%= bank.name %></td>
            <td><%= bank.account_no %></td>
            <td><%= bank.additional_details %></td>
          </tr>
        <% end %>
      </table>
      </div>
    <% end %>
  </li>
  <li>แนบหลักฐานการโอนเงินผ่านระบบ
    <ol style="padding:10px 0 0 20px" type='a'>
      <li>ไปยัง "บัญชีของฉัน" page.</li>
      <li>เลือก คำสั่งซื้อ</li>
      <li>คลิก "แนบหลักฐานการชำระเงิน"</li>
      <li>กรอกข้อมูล และกด ยืนยัน</li>
      <br><br>
      <%= image_tag 'payment_details.png' %>
    </ol>
  </li>
</ol>
