<% if (banks = Spree::Bank.active).present? %>
  <table class="table index">
    <tr>
      <th><%= Spree.t(:bank_name) %></th>
      <th><%= Spree.t(:account_no) %></th>
      <th><%= Spree.t(:additional_details) %></th>
    </tr>
    <% banks.each do |bank| %>
      <tr>
        <td><%= bank.name %></td>
        <td><%= bank.account_no %></td>
        <td><%= bank.additional_details %></td>
      </tr>
    <% end %>
  </table>

  <div class="payment-payment_method">
    <% param_prefix = "payment_source[#{payment_method.id}]" %>

    <div class="payment-payment_method-fields">
      <div class="mb-4 payment-payment_method-field checkout-content-inner-field">
        <%= text_field_tag "#{param_prefix}[account_no]", class: 'required_field form-control', 'field-name' => 'Account No.' %>
      </div>
    </div>
  </div>
<% end %>
